@model IEnumerable<TwenGo.Models.Order>
@{
    ViewData["Title"] = "訂單總覽";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@*管理者*@

<div class="section border-bottom pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumbs">
                    <li><a a asp-controller="Home" asp-action="index">首頁</a></li>
                    <li>訂單管理</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <p></p>
    <h4>訂單管理</h4>
    <p></p>
</div>
<hr />

<ul class="nav nav-tabs" role="tablist">
    <li>
        <a class="btn btn-outline-success" asp-controller="Management" asp-action="Index">目前訂單</a>
    </li>
    <li>
        <a class="btn btn-success" asp-controller="Management" asp-action="HistoryOrder">歷史訂單</a>
    </li>
</ul>



<p>第@(pager.CurrentPage)頁</p>
<div class="container">
    <div class="tab-pane active" id="home">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayName("訂單編號")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiverName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isPaid)
                    </th>
                    <th>
                        @Html.DisplayName("訂單資訊")
                    </th>
                    <th>
                        @Html.DisplayName("訂單刪除")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiverName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelitem => item.isPaid)*@
                        <i class="fa fa-check-square">已付款</i>
                    </td>

                    <td>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list-ul"></i>訂單資訊</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i>刪除</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="cotainer">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pager.CurrentPage > 0)
            {
                <li class="page-item">
                    <a class="btn btn-dark" asp-controller="Management" asp-action="HistoryOrder" asp-route-pg="1">第一頁</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-dark" asp-controller="Management" asp-action="HistoryOrder" asp-route-pg="@(pager.CurrentPage-1)">前一頁</a>
                </li>
            }

            @for (var pge = pager.StartPage + 1; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage? "active":"")">
                    <a class="btn btn-dark" asp-controller="Management" asp-action="HistoryOrder" asp-route-pg="@pge">@pge</a>
                </li>
            }


            @if (pager.CurrentPage < pager.EndPage)
            {
                <li class="page-item">
                    <a class="btn btn-dark" id="next" asp-controller="Management" asp-action="HistoryOrder" asp-route-pg="@(pager.CurrentPage+1)">下一頁</a>
                </li>
            }
            else { }
            <li class="page-item">
                <a class="btn btn-dark" asp-controller="Management" asp-action="HistoryOrder" asp-route-pg="@(pager.EndPage)">最後一頁</a>
            </li>

        </ul>
    }
</div>



<style>
    body {
        background-color: ivory
    }

    .card {
        margin-top: 30px;
    }

    .card-text {
        color: black
    }

    .hidding {
        z-index: -1;
    }

    .modal-backdrop {
        z-index: 0;
    }
</style>


