@model IEnumerable<TwenGo.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="app">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPaid)
            </th>
        </tr>
    </thead>
    <tbody v-for="item in orders">
        {{item.orderDate}}

    </tbody>
</table>

<script>

    var v = new Vue({
        el: "#app",
        data: {
            orders:[]
        },
        mountes: function () {
            let self = this;
            fetch("/orders")
                .then(res => {
                    return res.json();
                }).then(my => {
                    for (let i = 0; i < my.length; i++) {
                        self.orders.push(my[i])
                    }
                })

        }//mounted
    })//vue


</script>