@model IEnumerable<TwenGo.Models.Repository.Entity.Users>
@*<div id="app">*@
<div class="container">

    <div class="tab-pane active" id="home">

        @*<a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list-ul"></i></a>*@

        @foreach (var item in Model)
        {
           
        <div class="card bg-light" style="margin-top:30px">
            <h1 style="text-align:center">會員中心</h1>
            <article class="card-body mx-auto" style="width: 48rem">
                <form asp-action="CustomerRegister">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.RealName)" disabled="disabled" />
                        @*<button id="btnRealName" class="btn btn-light"><img src="~/images/circle_edit_line_pen_design_icon.png"></button>*@
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.Email)" disabled="disabled" />
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                        </div>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.IdentityNumber)" disabled="disabled" />
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                        </div>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.City)" disabled="disabled" />
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                        </div>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.Town)" disabled="disabled" />
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                        </div>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.Address)" disabled="disabled" />
                    </div> <!-- form-group// -->

                </form>
            </article>
        </div> <!-- card.// -->
        }
    </div>
</div>

<script>
    var real = document.getElementById("btnRealName")
    real.addEventListener("click", function{
        alert("123")
    })

</script>

            <style>
                .divider-text {
                    position: relative;
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                    .divider-text span {
                        padding: 7px;
                        font-size: 12px;
                        position: relative;
                        z-index: 2;
                    }

                    .divider-text:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        border-bottom: 1px solid #ddd;
                        top: 55%;
                        left: 0;
                        z-index: 1;
                    }

                .btn-facebook {
                    background-color: #405D9D;
                    color: #fff;
                }

                a:hover {
                    text-decoration: none !important;
                    color: #000000;
                }
            </style>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                <script src="~/jquery/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $("#twzipcode").twzipcode({
                            zipcodeIntoDistrict: true, // 郵遞區號自動顯示在區別選單中
                            css: ["city form-control", "town form-control"], // 自訂 "城市"、"地別" class 名稱
                            countyName: "City", // 自訂城市 select 標籤的 name 值
                            districtName: "Town" // 自訂區別 select 標籤的 name 值
                        });
                    });

                    var edit = document.getElementById
                </script>
            }



