@model IEnumerable<TwenGo.Models.Repository.Entity.Users>
    <h1>會員中心</h1>
    @*<div id="app">*@

        <div class="container">

            <div class="tab-pane active" id="home">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.RealName)
                            </th>
                            <th>
                                @Html.DisplayName("會員帳號")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdentityNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RealName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdentityNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                           
                            
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list-ul"></i>編輯會員資料</a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
