@model TwenGo.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suppliers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account_S)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account_S)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password_S)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password_S)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email_S)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email_S)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CellPhone_S)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CellPhone_S)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Representative)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Representative)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepresentativeIdentityNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepresentativeIdentityNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxIDNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxIDNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationOfCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationOfCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MallPicture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MallPicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SuppliersID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
