@model IEnumerable<TwenGo.Models.Suppliers>

@{
    ViewData["Title"] = "Index";

    SupplierPager supplierpager = new SupplierPager();
    int pageNo = 0;

    if(ViewBag.SupplierPager !=null)
    {
        supplierpager = ViewBag.SupplierPager;
        pageNo = supplierpager.CurrentPage;
    }
}


<div id="main">
    <div class="section section-bg-10 pt-11 pb-17">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title text-center">賣家會員管理</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="section border-bottom pt-2 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-10 pb-10">
        <div class="container">

            <p>
                <a asp-action="Create">新增賣家</a>
            </p>

            <partial name="_SupplierPager" model="@supplierpager" />

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Account_S)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password_S)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email_S)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CellPhone_S)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyPhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Representative)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RepresentativeIdentityNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TaxIDNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Capital)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocationOfCompany)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MallPicture)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account_S)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password_S)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email_S)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CellPhone_S)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Representative)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RepresentativeIdentityNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaxIDNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Capital)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationOfCompany)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MallPicture)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SuppliersID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.SuppliersID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.SuppliersID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>





        </div>
    </div>
</div>
